/* @font-face {
	font-family: Trademarker;
	src: url(/fonts/TradeMarker.otf);
}

:root {
	--bg-1: radial-gradient(#8e102b 20%, #6e0a26);
	--bg-2: radial-gradient(#5b547c 20%, #463e5f);
	--bg-3: radial-gradient(#875eac 20%, #5c4a71);
	--bg-4: radial-gradient(#6f355c 20%, #542847);
	--bg-5: radial-gradient(#2a4b99 20%, #1a2c5d);
	--bg-6: radial-gradient(#1d5ea1 20%, #103862);
	--bg-7: radial-gradient(#502e65 20%, #311f3f);
	--bg-8: radial-gradient(#839cc4 20%, #4e5d7a);

	--argent:   #e7e4e1;
	--sable:    #1B1C1D;
	--gules:    #d92032;
	--or:       #ffc107;
	--azur:     #2a89e8;
}

* {
	box-sizing: border-box;
}
body {
	background: radial-gradient(#222126, #030303);
	color: whitesmoke;
	min-height: 100vh;
	margin: 0;
	overscroll-behavior: none;
}

body.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3 {
	letter-spacing: .2em;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 28px;
}

img:not(dialog img) {
	border-radius: 5px;
	cursor: pointer;
	width: 70%;
}

header, .grid, .projects-list {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px;
}
.grid > div {
	aspect-ratio: 1/1;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;


}
.grid > div * {
	margin: 0;
}
@keyframes flicker {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.85;
	}
}

.screen {
	background: radial-gradient(grey 20%, #2e2e2e);
	background-blend-mode: soft-light;
}

.projects-list {
	list-style: none;
}

.projects-list li {
	display: flex;
}
.projects-list li > div {
	flex: 1;
	
}

header {
	border-radius: 5px;
	padding: 30px;
	position: relative;
}
header a {
	position: absolute;
	top: 20px;
	left: 20px;
}

dialog img {
	width: 100%;
	max-height: 100%;
} */

:root {
	--gules: #e42b16;
	--argent: #ffffff;
	--sable: #111111;
	--or: #ffd700;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--argent);
	font-family: Helvetica, sans-serif;
	color: var(--gules);
	font-size: 20px;
	margin: 0;
}

main {
	height: 100vh;
	position: relative;
	background-color: var(--gules);
	color: var(--argent);
}

menu {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 20px;
	left: 20px
}

::selection {
	background-color: var(--sable);
	color: var(--or);
}

h1, h2, menu li {
	margin: 0;
	font-family: "Bebas Neue", Helvetica, sans-serif;
}
h1 {
	font-size: 200px;
	position: absolute;
	left: 20px;
	top: 20px;
	/* background-color: var(--sable);
	padding: .05em .2em .0em; */
	background: url(https://loremflickr.com/900/240) 50% 50% var(--sable);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	filter: grayscale(1) contrast(2) url(filter.svg#color);
	width: fit-content;
}
h2, menu li {
	font-size: 100px;
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

label, a {
	cursor: pointer;

	&:hover {
		color: var(--sable);
	}
}

img {
	width: 100%;
}

section {
	padding: 20px;
	min-height: 100vh;
}

.sable-or {
	background-color: var(--sable);
	color: var(--or);
}

#about {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

/* input[type=radio] {
	display: none;
}

section {
	transition: height .2s;
	overflow: hidden;
	height: 0;
}

label:has(input:checked) + section {
	height: calc-size(auto);
} */
