@font-face {
    font-family: Nexa;
    src: url(NexaFonts/NexaHeavy/font.woff);
    font-weight: 900;
}

@font-face {
    font-family: Nexa;
    src: url(NexaFonts/NexaLight/font.woff);
    font-weight: 300;
}

@font-face {
    font-family: NexaText;
    src: url(NexaFonts/NexaTextBold/font.woff);
    font-weight: 700;
}

@font-face {
    font-family: NexaText;
    src: url(NexaFonts/NexaTextBlack/font.woff);
    font-weight: 900;
}

@font-face {
    font-family: NexaText;
    src: url(NexaFonts/NexaTextBook/font.woff);
    font-weight: 200;
}

:root {
	--red: 		#9b0f00;
	--orange: 	#ff4c00;
	--white: 	#f9f8f7;
	--blue: 	#8bc3c5;
	--black: 	#000000;
}

::selection{
	background-color: var(--blue);
	color: var(--white);
}

*{
	box-sizing: border-box;
}

body {
    background: var(--orange);
	background: linear-gradient(135deg, var(--orange) 0%, var(--red) 100%);
	/* animation: gradient 15s ease infinite; */
	font-family: Nexa;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

@keyframes gradient {
	0% {

	}
	50% {

	}
	100% {

	}
}

main {
    background-color: var(--white);
	margin: 0 10%;
	height: 100%
}

a {
	cursor: pointer;
	color: var(--black);
	text-decoration: none;
}

img {
	margin: 10px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0;
}

nav a {
	flex: 1;
	text-align: center;
	background-color: var(--white);
	font-weight: 900;
	margin: 0;
	padding: 10px;
	border-bottom: 5px solid var(--white);
	transition: border-bottom 0.25s, color 0.25s;
}
nav a:hover, nav a.active {
	border-bottom-color: var(--blue);
}
nav a:hover{
	color: var(--blue);
}

.center {
	text-align: center;
}

.card {
	background-color: var(--white);
	border-radius: 5px;
}

.projects-list {
	margin: 0 10%;
	font-weight: 200;
}

.projects-list li {
	justify-content: space-between;
	margin-top: 10px;
}

.projects-list li div {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.alternating-list li {
    display: flex;
    flex-direction: row;
}

.alternating-list li:nth-child(even){
    flex-direction: row-reverse;
}

