.yes{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.yes::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    transform: translateX(10) translateY(10);
}